# Evolution des th√®mes par jour

Import packages

In [75]:
import pandas as pd

On choisit ici la variable √† afficher

Import Data

In [79]:
Data_raw = pd.read_csv(r"v1_extract_2024_07_24.csv")
Data_raw.head()

,content_id,content,username,date,k20
0,339be11c-64f1-4aec-8e34-c32faddfc5ef,ŸÖÿπ ÿ®ŸÇÿßÿ¶Ÿá https://t.co/vUFN8w3CuL,ASM_brg,2024-07-10 15,0
1,1f939393-9aed-4c97-999c-5f11e3491587,ÿµÿ±ÿßÿ≠Ÿá ŸÖÿßŸÅŸäŸá ÿßŸÅÿ∂ŸÑ ŸÖŸÜŸá ŸÑÿ™ÿØÿ±Ÿäÿ® ŸÅÿ±ŸÜÿ≥ÿß https://t.co...,n_cyr3,2024-07-10 15,0
2,1039a51b-fbce-4c7c-ab03-55fa145ce3e9,ŸÉŸÑ ÿßŸÑŸä ÿ¨ÿßŸä ŸäÿµŸäÿ± ÿπŸÑŸÖŸàÿØ ÿ≤ŸäÿØÿßŸÜ ŸÖÿß ŸäÿØÿ±ÿ®üòÇüòÇ https://...,ITACH887,2024-07-10 14,1
3,736c2c6d-7863-4484-87db-dab21a8ed475,ÿπÿ≥ÿßŸÉŸÖ ÿπŸÑŸâ ŸáÿßŸÑÿ≠ÿßŸÑ Ÿàÿßÿ±ÿØŸâ üòç https://t.co/vAhXfMY41j,M_T_ALH,2024-07-10 14,2
4,65a53395-4770-4f04-8c76-dc501a05ec46,ŸÅÿ™ÿßÿ≠ Ÿäÿß ÿπŸÑŸäŸÖ üòÇ https://t.co/L036AmCk4c,ScarletConanner,2024-07-10 14,0

On r√©cup√®re le nom de la classification √† analyser : c'est √† dire tout ce qui est apr√®s les colonnes content_id, content, username et date. Ca nous sera utile pour automatiser certains traitements par la suite

In [81]:
col_name = list(Data_raw.columns) # R√©cup√©ration des noms de colonnes
classif = col_name[4]# On extrait 'k20'

variable = classif 
prefix = classif

Quelques manipulations sur le format de la date √† faire

In [83]:
Data_raw['day'] = Data_raw['date'].str[:10]  # Extract day from day-hour
Data_raw['date'] = pd.to_datetime(Data_raw['day'], format="%Y-%m-%d")  # Declare as datetime

On ajoute un +1 pour aligner les classifications entre 1 et N (ici 20). C'√©tait une demande de Jules

In [85]:
Data_raw['k20'] = Data_raw['k20']+1

On ne garde que la date et la classification

In [87]:
Data = Data_raw[["date", variable]]

On va "exploser" la classification en 20 variables

In [89]:
just_dummies = pd.get_dummies(Data[variable], dtype=float, prefix = prefix)
Data_explode = pd.concat([Data, just_dummies], axis=1)
Data_explode = Data_explode.drop([variable], axis=1)

Sommer le nombre de classification par date

In [91]:
Data_ts = Data_explode.groupby('date').sum().reset_index()
Data_ts.head()

,date,k20_1,k20_2,k20_3,k20_4,k20_5,k20_6,k20_7,k20_8,k20_9,...,k20_11,k20_12,k20_13,k20_14,k20_15,k20_16,k20_17,k20_18,k20_19,k20_20
0,2016-07-10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2017-06-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,2021-06-16,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2023-01-07,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2023-01-09,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

On remplit les intervalles avec des z√©ros

In [93]:
Data_ts = Data_ts.set_index('date') # Date as index
Data_ts = Data_ts.resample('D').mean() # On cr√©er les intervalles pour chaque heure absente du dataset
Data_ts = Data_ts.fillna(0) # On remplit les dates manquantes avec des z√©ros

On cr√©er maintenant un format "long" (panel)

In [111]:
Data_ts["time"] = Data_ts.index
Data_ts_long = pd.wide_to_long(Data_ts, stubnames = variable, i="time", j="class", sep='_', suffix = '\\d+').reset_index()

In [113]:
Data_ts_long # La table finale

            time  class   k20
0     2016-07-10      1   0.0
1     2016-07-11      1   0.0
2     2016-07-12      1   0.0
3     2016-07-13      1   0.0
4     2016-07-14      1   0.0
...          ...    ...   ...
58555 2024-07-11     20   3.0
58556 2024-07-12     20  43.0
58557 2024-07-13     20   4.0
58558 2024-07-14     20  59.0
58559 2024-07-15     20  26.0

[58560 rows x 3 columns]

In [115]:
Data_ts_long.to_excel(r"Export_ts_daily.xlsx", index=False) # Export Excel